@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
:root{
    --primary: #7700AF;
    --primary_hover: #A455C9;
    --primary_hr_color: #d3d0d0;
    --primary_button_radius: 25px;
    --primary_card_radius: 5px;
    --primary_button_colors: #7700AF;
    --white_clr: #fff;
    --light_gray_clr: #e0e0e0;
    --primary_font_family: 'Roboto', sans-serif;
}
.btn-primary{
    background: #000 !important;
    color: var(--white_clr) !important;
    font-weight: 600 !important;
    border: #000 !important;
    border-radius: 0px !important;
    padding: 10px;
    /* padding-bottom: 10px; */
}
.btn-primary:hover{
    background: #2c2c2c !important;
    border: #2c2c2c !important;
}
h1{
    font-size: 56px;
    font-weight: 700;
}
a{
    text-decoration: none !important;
    color: var(--white_clr) !important;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.bg-body-tertiary{
    background: rgb(119,0,175) !important;
    background: linear-gradient(279deg, rgba(119,0,175,1) 0%, rgba(119,0,175,1) 35%, rgba(164,85,201,1) 100%) !important;
}
.nav-link{
    color: var(--light_gray_clr) !important;
    text-transform: uppercase !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--white_clr) !important;
    font-weight: 500;
}
.nav-item{
    border-right: 1px solid var(--white_clr);
    padding: 0px 8px;
}
.home_section{
    padding: 10rem 0rem;
    color: var(--white_clr);
    background-image: url('/assets/img/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_section{
    padding: 10rem 0rem;
    color: var(--white_clr);
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_section{
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_wrapper{
    position: relative;
    width: 400px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(120, 0, 176, 0.55) 99.99%, rgba(120, 0, 176, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}
.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #000;
}
.input_box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}
.input_box input:focus~label,
.input_box input:valid~label {
    top: -5px;
}
.login_button{
    border-radius: 40px;
    background: #0D0D0D;
    color: var(--white_clr);
    width: 100%;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonPreloader{
    border-radius: 40px;
    background: var(--white_clr);
    border: 2px solid #0D0D0D;
    color: #0D0D0D;
    width: 100%;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.login_button:hover{
    border: 2px solid #0D0D0D;
    color: #0D0D0D;
}
.remember-forgot{
    font-size: 0.8em;
}
.login_card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signup_container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid #000;
    margin: auto;
    margin-top: 50px;
}
.signup_container form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #fff;
}
.signup_container h2{
    font-size: 3rem;
    margin: 40px;
}
.signup_container .box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid #000;
    outline: none;
    border-radius: 20px;
}
.signup_form_fill{
    background: var(--white_clr);
    padding: 30px;
    border-radius: var(--primary_button_radius);
}
.signup_form_all{
    border-top-right-radius: var(--primary_button_radius);
    border-bottom-left-radius: var(--primary_button_radius);
    background: linear-gradient(180deg, rgba(120, 0, 176, 0.00) 0%, #7800B0 83.33%, #7800B0 99.99%);
}
.signup_form_img{
    padding-left: 25px;
}
.signup_form_img h3{
    padding-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    color: var(--white_clr);
    font-size: 2em;
    text-transform: uppercase;
}
.form-control {  
    -webkit-box-shadow: none!important;
    outline: 2px solid #000;
} 

.pricing-grid{
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0px;
    padding: 20px;
}
.pricing-grid .box{
    width: 250px;
    height: 470px;
    margin: 0px 10px;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 10px 5px rgba(0, 0, 0, 0.05);
}
.pricing-grid .box .title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
}
.pricing-grid .box .price{
    margin-bottom: 20px;
}
.pricing-grid .box .price b{
    display: block;
    font-size: 40px;
    margin-bottom: 5px;
}
.pricing-grid .box .button button{
    width: 100%;
    /* margin: 25px 0px 0px; */
    padding: 10px;
    background: linear-gradient(to bottom, var(--primary), var(--primary_hover));
    color: var(--white_clr);
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer ;
    border-radius: 25px;
    position: relative;
    bottom: 0;
    /* top: 50px; */
}
.pricing-grid .box.premium{
    color: var(--white_clr);
    transform: scale(1.1);
    background: linear-gradient(to bottom, var(--primary), var(--primary_hover));

}
.pricing-grid .box.basic .price{
    color: #000 !important;
    

}
.pricing-grid .box.premium .title{
    color: var(--white_clr);
}
.pricing-grid .box.premium .button button{
    color: var(--white_clr);
    background: #000;

}
.pricing_section{
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_services .card {
    cursor: pointer
}


.our_services .hd {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}


.our_services .card.hover,
.our_services .card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.our_services .img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.our_services .card-title {
    font-weight: 600;
    text-transform: uppercase;
}

.our_services button.focus,
.our_services button:focus {
    outline: 0;
    box-shadow: none !important
}

.our_services .ft {
    margin-top: 25px
}

.our_services .chk {
    margin-bottom: 5px
}

.our_services .rck {
    margin-top: 20px;
    padding-bottom: 15px
}

.our_services {
    background-color: lightcyan !important
}

.contact_upper_contact{
    background-image:
    linear-gradient(2.45deg, #5A0085 34.46%, rgba(255, 0, 184, 0) 97.91%), url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card h5{
    text-align: center;
    font-weight: 600;
}
.contact-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact_down_section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-section{
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-pricing{
    background-color: var(--white_clr) !important;
    overflow: hidden;
    float: left;
    position: relative;
    height: 100vh;
}
.sidebar-pricing img{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
}
.sidebar-pricing .title h4{
    font-size: 1.8em !important;
}

.subscription-list .basic{
    background: #007955;
    border: #007955;
    padding: 25px 22px;
    color: var(--white_clr);
    font-weight: 600;
}
.subscription-list .basic:hover{
    background: #03b37e !important;
    border: #03b37e;
}
.subscription-list .premium{
    background: #000;
    border: #000;
    padding: 25px 22px;
    color: var(--white_clr);
    font-weight: 600;
}
.subscription-list .premium:hover{
    background: #2f2f2f !important;
    border: #2f2f2f;
}
.subscription-list .yearly{
    background: #004585;
    border: #004585 !important;
    padding: 25px 22px;
    color: var(--white_clr) !important;
    font-weight: 600;
}
.subscription-list .yearly:hover{
    background: #025fb6 !important;
    border: #004585 !important;
}

.meal-section{
    color: var(--white_clr);
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.meal-header{
    height: 210px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #000;
    background: url('/assets/img/brush meal.png'), lightgray 0px 0px / 100% 209.407% no-repeat;
}
.meal-platte{
    width: 320px;
    height: 228px;
    flex-shrink: 0;
    background: url('/assets/img/meal plate.png');
    border-radius: 40px;
    margin-left: auto;
}
.meal-header h3{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.41);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 190px;
    width: 784px;
    padding: 0px 25px;
}
.meal-title h3{
    color: #000;
    font-family: Caesar Dressing;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.meal-title a{
    border-radius: 30px;
    background: #7801B0;
    color: #000 !important;
    font-family: Caesar Dressing;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;

}
.meal-footer{
    border-radius: 30px;
    background: linear-gradient(180deg, #14001E 0%, rgba(120, 1, 176, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.meal-footer img{
    width: 250px
}
.big-plate-div{
    position: absolute;
    right: 244px;
    top: 73.5%;
}

.meal-index-section{
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-haeder-path h2{
    color: #000;
    font-weight: 600 !important;
    font-size: 1.3em;
}
.recipe-card{
    border-radius: 30px;
    background: rgba(120, 1, 176, 0.25);
    padding: 25px;
    margin: 15px 0px;
}
.recipe-card img{
    width: 250px;
    object-fit: cover;
}
.reciepes-section{
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0px
}
.reciepe-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grocery-list-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.773), rgba(0, 0, 0, 0.773)), url('/assets/img/grocery-list.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0px;
    /* height: 100%; */
}
.ingredient-card{
    background: transparent !important;
    color: #fff !important;
    border: none !important;
    text-align: center !important
}
.ingredient-image img{
    width: 150px
}
.ingredient-image{
    display: flex;
    justify-content: center;
    align-content: center
}

/* media query */
@media (max-screen:804px) {
    .pricing-grid{
        gap: 20px;
    }
    .pricing-grid .box.premium{
        transform: scale(1);
    }
}